body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 222, 199);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.principal {
    background-image: url("img/arvore.jpg");
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }

  table{
    background-color: white;
  }

  tr:nth-child(odd){
    background-color: #eee;
  }

  tr:hover {
    background: rgb(200, 199, 199);
  }

.largura-input{
  width: 90%;
  background-color: black;
}


table {
  margin-top: 10px;
  border-collapse: collapse;
}

table th,
table td {
  max-width: 100%;
  padding: 3px 5px;
  border: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table thead {
  position: sticky;
  inset-block-start: 0;
  background-color: #ddd;
} 

.table-scroll {
  display: block;
  width: 1100px;
  height: 500px;
  overflow: auto;
}

.largura-100{
  width: 100% !important;
}

.card-height{
  height: 10px !important;
}

.cursor-none{
  cursor: no-drop !important;
}

